@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rokkit";
  src: url("./assets/fonts/Rokkitt/static/Rokkitt-Thin.ttf") format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Rokkit";
  src: url("./assets/fonts/Rokkitt/static/Rokkitt-ExtraLight.ttf") format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Rokkit";
  src: url("./assets/fonts/Rokkitt/static/Rokkitt-Light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Rokkit";
  src: url("./assets/fonts/Rokkitt/static/Rokkitt-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rokkit";
  src: url("./assets/fonts/Rokkitt/static/Rokkitt-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rokkit";
  src: url("./assets/fonts/Rokkitt/static/Rokkitt-SemiBold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Rokkit";
  src: url("./assets/fonts/Rokkitt/static/Rokkitt-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Rokkit";
  src: url("./assets/fonts/Rokkitt/static/Rokkitt-ExtraBold.ttf") format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Rokkit";
  src: url("./assets/fonts/Rokkitt/static/Rokkitt-Black.ttf") format('truetype');
  font-weight: 900;
  font-style: normal;
}

body {
    overflow-y: hidden;
    overflow: scroll;
  }

  html {
    background-color: black;
  }

  * {
    font-family: 'Rokkit';
  }